{% extends 'main.html' %}
{% block content %}
    <head>
        <style>
            .my_div{
                display: grid;
                grid-template-columns: 3fr 2fr;
            }
        </style>
    </head>
    <div class="my_div">
        <center><h1>{{ category_detail.name }} Products</h1></center>
        <hr>
        {% for item in category_detail.product_set.all %}
            <div class="container">
                <center><img src="{{ item.get_image_url }}" alt="category image" class="w-300" /></center>
                <hr>
                <br>
            </div>
            <div class="container">
            <center>
                <br><br><br><br><br><br><br>
                <h4 class="text-center">{{ item.small_description }}</h4>
                <p><span style="background-color: tomato">Selling price</span>:&nbsp;
                    $ {{ item.selling_price }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color: tomato">Original price</span>:&nbsp;
                    <del>$ {{ item.original_price }}</del></p>
                <div>
                    <a href=""><p style="background-color: green; color: white" >Buy Now</p></a>
                </div>
            </center>
            </div>
        {% empty %}
            No products
        {% endfor %}
    </div>

{% endblock %}