{% extends 'main.html' %}
{% block content %}
    <div style="width: 999px; background-color: #cceaf4" >
    <center>
        <h1>Frequently Asked Questions On GO-Shopping </h1>
        <br><br><br>
            <h3>Can I buy in bulk?</h3>

        <p>For all your Corporate Procurement, Gift Vouchers and Consumer Promotion Activities,
            please contact us on 09038824337 or email us at help@GO-Shop.com or visit the Bulk Purchase Page to learn more.</p>

            <h3>Will all of the items in my order arrive in a single package?</h3>

        <p>If your order consists of items from more than one seller, your items will arrive separately.
            If your order consists of items from a single seller, your items may arrive together or separately. If your
            orders arrive separately, be rest assured that the remaining item(s) will be delivered shortly.</p>
    </center>
    </div>

{% endblock %}