{% extends 'main.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <style>
            .my_div{
                display: grid;
                grid-template-columns: 1fr 3fr;
            }
        </style>
    </head>
    <body>
        <div class="my_div">
            <div>
                <br><br><br><br>
                {% include 'store/admin/admin_dashboard.html' %}
            </div>
            <div>
                <br><br>
                {% include 'store/admin/store.html' %}
            </div>

        </div>
    </body>
</html>
{% endblock %}