{% extends 'main.html' %}
{% block content %}
    <center>
        <form method="POST">
            <h1>Change password</h1>
            {% csrf_token %}
            <input name="old_password" type="password" placeholder="Old password" required="true">
            <input name="new_password" type="password" placeholder="New password" required="true">
            <input name="confirm_password" type="password" placeholder="Confirm password" required="true">

            {% for field in form %}
                {% for error in field.error %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endfor %}

            <input type="submit" value="Change Password">
        </form>
    </center>
{% endblock %}