{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br><br><br><br>
    <body style="background-color: #cceaf4;">
        <center>
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div style="width: 20%">
                    {{  form|crispy }}
                </div>
                <input type="submit" value="Submit">
            </form>
            <br>
            Already have Account?/<a href="{% url 'login'%}">Sign In</a>
        </center>
    </body>
{% endblock %}